

:root {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--dark-green: #068437;
	--intermediate-gren: #2D9B36;
	--light-green: #4AAC35;
	--smoth-green: #A5D3B1;
	--blue: #0E566C;
	--blue-transparent: #0e566cc1;
	--blue-opacity: #126A59;
	--orange: #F1871D;
	--light-orange: #F4A06C;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	transition: transform .5s;
	cursor: pointer;
	outline: none;
}

input {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.aliado {
	border-radius: 50%; 
	width: 10rem;
	margin: 0 2rem;
	box-shadow: 5px 5px 10px 1px #00000066;
}

button:hover {
	transform: scale(1.05);
}